<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        #new-board-button {width: 150px; min-width: 150px;}
        .img-thumbnail {min-height: 80px; max-height: 80px; width: 80px}

    </style>

    <title>Hello, world!</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <img src="data/cat.jpg" alt="..." class="img-thumbnail">
            <img src="data/lion.jpg" alt="..." class="img-thumbnail">
            <img src="data/nothing.png" alt="..." class="img-thumbnail">
            <img src="data/plant.jpg" alt="..." class="img-thumbnail">
        </div>

        <div class="row">
            <img src="data/cat.jpg" alt="..." class="img-thumbnail">
            <img src="data/lion.jpg" alt="..." class="img-thumbnail">
            <img src="data/nothing.png" alt="..." class="img-thumbnail">
            <img src="data/plant.jpg" alt="..." class="img-thumbnail">
        </div>

        <div class="row">
            <img src="data/cat.jpg" alt="..." class="img-thumbnail">
            <img src="data/lion.jpg" alt="..." class="img-thumbnail">
            <img src="data/nothing.png" alt="..." class="img-thumbnail">
            <img src="data/plant.jpg" alt="..." class="img-thumbnail">
        </div>
    </div>

    <br>

    <button id="next-step-button" class="btn btn-primary">Next step.</button>

    <br><br>

    <!--    <form>-->
    <div class="form-check-inline">
        <input type="number" class="form-control" id="cols" placeholder="Enter columns number.">
        <input type="number" class="form-control" id="rows" placeholder="Enter rows number.">
        <input type="number" class="form-control" id="animals" placeholder="Enter animals number.">
        <button id="new-board-button" class="btn btn-primary">New board.</button>
    </div>

    <div id="logs">

    </div>
    <!--    </form>-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script type="text/javascript">
                function drawField(data)
                {
                    for (row in data)
                                    {
                                        $(".container").append('<div class="row"></div>');
                                        console.log(data[row]);
                                        for (var elem in data[row])
                                        {
                                            if (data[row][elem].length == 0)
                                                $(".row:last").append('<img src="data/nothing.png" alt="..." class="img-thumbnail">');
                                            else if (data[row][elem][0] == 'Plant')
                                                $(".row:last").append('<img src="data/plant.jpg" alt="..." class="img-thumbnail">');
                                            else if (data[row][elem][0] == 'GrassFeeding')
                                                $(".row:last").append('<img src="data/grass-feeding.jpg" alt="..." class="img-thumbnail">');
                                            else if (data[row][elem][0] == 'SmallPredator')
                                                $(".row:last").append('<img src="data/cat.jpg" alt="..." class="img-thumbnail">');
                                            else if (data[row][elem][0] == 'BigPredator')
                                                $(".row:last").append('<img src="data/lion.jpg" alt="..." class="img-thumbnail">');
                                            else
                                                $(".row:last").append('<img src="data/man.jpg" alt="..." class="img-thumbnail">');
                                        }
                                    }
                }

                $(function () {
                    $('#new-board-button').click(function() {
                        $.post("http://127.0.0.1/board", {cols: $("#cols").val(), rows: $("#rows").val(), animals: $("#animals").val()})
                            .done(function( data ) {
                                if (data != "Error!")
                                {
                                    $(".container").html("");
                                    console.log(data);

                                    drawField(data);
                                    $('#logs').html('');
                                }
                                else
                                    alert('Error!');
                            });
                    });
                });
                $(function () {
                    $('#next-step-button').click(function() {
                        $.get("http://127.0.0.1/board/next")
                            .done(function( data ) {
                                if (data != "Error!")
                                {
                                    $(".container").html("");
                                    console.log(data);

                                    drawField(data);
                                }
                                else
                                    alert('Error!');
                            });
                        $.get("http://127.0.0.1/board/logs")
                            .done(function( data ) {
                                $('#logs').html(data);
                            });
                    });
                });


    </script>
</body>
</html>